@{
    ViewBag.Title = "Index";
}
<div>
    <div class="span9 offset1">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div style="min-height: 100px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <!-- Start WOWSlider section -->
                <div id="wowslider-container1" style="background-color:dimgray">
                    <div class="ws_images">
                        <ul>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Ian Busher installing triptych in client's home.jpg")" alt="Installing Triptych" title="Installing Triptych" id="wows1_0" />Ian Busher</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Eryn O'Neill_On The Highline (NYC)_oil on canvas_16_Hx32_W.JPG")" alt="On The Highline" title="On The Highline" id="wows1_1" />Eryn O'Neill</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Chris Albert_AGO_Photographon panel,resin overlay_33_x33_.jpg")" alt="AGO Photographon" title="AGO Photographon" id="wows1_2" />Chris Albert</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Andrea Rinaldo__White Neon.Blush_mixed media on canvas_48_x60_.jpg")" alt="White Neon" title="White Neon" id="wows1_3" />Andrea Rinaldo</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/image2.jpeg")" alt="Car" title="Car" id="wows1_4" />Mark Gleberzon</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Robert Shuttleworth_Pee Wee_mixed media sculpture_48_H.jpg")" alt="Pee Wee" title="Pee Wee" id="wows1_5" />Robert Shuttleworth</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Tommy Vohs_Rocket Launch_iPhone-graphic image on aluminum dibond_40_x40.JPG")" alt="Rocket Launch" title="Rocket Launch" id="wows1_6" />Tommy Vohs</li>
                            <li><img src="@Url.Content("~/Content/Images/Paintings/Mark Gleberzon__Lily @ The lido_mixed media photograph on panel, resin overlay_30_x30_.jpg")" alt="Lily" title="Lily" id="wows1_7" />Mark Gleberzon</li>
                        </ul>
                    </div>
                    <div class="ws_bullets">
                        <div>
                            <a href="#" title="Ian Busher"><img src="@Url.Content("~/Content/Images/Paintings/Ian Busher installing triptych in client's home.jpg")" alt="Installing Triptych" />1></a>
                            <a href="#" title="Eryn O'Neill"><img src="@Url.Content("~/Content/Images/Paintings/Eryn O'Neill_On The Highline (NYC)_oil on canvas_16_Hx32_W.JPG")" alt="On The Highline" />2></a>
                            <a href="#" title="Chris Albert"><img src="@Url.Content("~/Content/Images/Paintings/Chris Albert_AGO_Photographon panel,resin overlay_33_x33_.jpg")" alt="AGO Photographon" />3></a>
                            <a href="#" title="Andrea Rinaldo"><img src="@Url.Content("~/Content/Images/Paintings/Andrea Rinaldo__White Neon.Blush_mixed media on canvas_48_x60_.jpg")" alt="White Neon" />4></a>
                            <a href="#" title="Mark Gleberzon"><img src="@Url.Content("~/Content/Images/Paintings/image2.jpeg")" alt="Car" />5></a>
                            <a href="#" title="Robert Shuttleworth"><img src="@Url.Content("~/Content/Images/Paintings/Robert Shuttleworth_Pee Wee_mixed media sculpture_48_H.jpg")" alt="Pee Wee" />6></a>
                            <a href="#" title="Tommy Vohs"><img src="@Url.Content("~/Content/Images/Paintings/Tommy Vohs_Rocket Launch_iPhone-graphic image on aluminum dibond_40_x40.JPG")" alt="Rocket Launch" />7></a>
                            <a href="#" title="Mark Gleberzon"><img src="@Url.Content("~/Content/Images/Paintings/Mark Gleberzon__Lily @ The lido_mixed media photograph on panel, resin overlay_30_x30_.jpg")" alt="Lily" />8></a>
                        </div>
                    </div>
                    <div class="ws_shadow"></div>
                </div>
                <!-- End WOWSlider section -->
               

            </div>
           
        </div>

    </div>

</div>
