
@{
    ViewBag.Title = "Project";
}
<div class="container">
    <div class="row centered">
        <div class="col-lg-10 col-lg-offset-1">
            <img class="img-responsive" src="@Url.Content("~/Content/images/spot.png")" alt="Spot Theme" />
        </div>
    </div>
</div>

<!-- CLIENT INFORMATION -->
<div id="lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 desc">
                <h3>Ian Busher</h3>
                <p>A toronto-based visual and photographic artist of many trades including real estate agent, contractor and actor.</p>
                <p>His current body of work marries his use of raw materials including steel and reclaimed wood with spray paint and hand-cut stencils of animals.</p>
                <p>His mixed media paintings have a strong Canadiana-feel and a seemingly simple presence despite his multi-layered process.</p>
            </div>

            <div class="col-lg-4 col-lg-offset-1 desc">
                <h3>Painting Information</h3>
                <br>
                <h5><b>Info Item 1:</b>Content</h5>
                <h5><b>Info Item 2:</b> Content, Content</h5>
                <h5><b>Extra Project Info:</b></h5>
                <p class="tm">Other Art Information</p>
                <p><a href="#"><i class="fa fa-link"></i> Visit Site</a></p>

            </div>

        </div><!-- row -->
    </div><!-- container -->
</div><!-- dg -->
<!-- SINGLE PROJECT STANDOUT IMAGE -->
<div id="sp-standout"></div>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>More Information</h1>
            <ul class="process effect-2" id="process">
                <li><img alt="" src="@Url.Content("~/Content/Images/Paintings/Ivano Stocco_Crossroads_mixed media painting on panel_48_Hx60_W_$4450.JPG")"/></li>
                <li><img alt="" src="@Url.Content("~/Content/images/Paintings/Ian Busher_Chickadee_mixed media on steel_24_Hx60_L.JPG")"/></li>
                <li><img alt="" src="@Url.Content("~/Content/images/Paintings/Ian Busher_Herb and Dorothy_mixed media on steel_48_x48_.jpg")"/></li>
                <li><img alt="" src="@Url.Content("~/Content/images/Paintings/Ian Busher_I've Seen It Happen_mixed media on gate_30_Hx73_L.JPG")"/></li>
            </ul>
        </div><!-- col-lg-8 -->
    </div><!-- row -->
</div><!-- container -->
